

.holder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c474c;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4c474c), to(#807d7d));
    background-image: -o-linear-gradient(bottom, #4c474c 0%, #747171 100%);
    background-image: linear-gradient(0deg, #4c474c 0%, #adaaaa 100%);
    border-radius: 50px;
    width: 10vw;
    padding: 20px 20px;
    margin: auto;
    height: 50px;
}

[data-role="controls"] > button {
    margin: auto;
    outline: none;
    display: block;
    border: none;
    background-color: #D9AFD9;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e2a4a4), to(#ff2525));
    background-image: -o-linear-gradient(bottom, #d9afaf 0%, #ff0000 100%);
    background-image: linear-gradient(0deg, #d9afaf 0%, #fc0505 100%);
    width: 30px;
    height: 30px;
    text-indent: -1000em;
    cursor: pointer;
    box-shadow: 0px 1px 1px .4px rgba(0,0,0,0.3) inset, 
        0px 0px 0px 5px #fff, 0px 0px 0px 5px #333;
          
}

[data-role="controls"] > button:hover {
    background-color: #D9AFD9;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff2525), to(#e2a4a4));
    background-image: -o-linear-gradient(bottom, #ff0000 0%, #d9afaf 100%);
    background-image: linear-gradient(0deg, #fc0505 0%, #d9afaf 100%);
    
}
.record  {
    border-radius: 50%;
}

[data-role="controls"] > button.stop  {
    width: 35px;
    height: 35px;
    box-shadow: 0px 1px 1px .4px rgba(0,0,0,0.3) inset, 
        0px 0px 0px 1px #fff, 0px 0px 0px 2px #333;
    
}


.recordings {
    list-style: none;
    padding: 0;
}

.recordings li {
    display: flex;
    align-items: center; 
    padding: 5px 20px;
}



.delete-button {
    background-color: rgb(229, 221, 221);
    color: #060606;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.download-link, .delete-button {
    text-decoration: none;
    background-color: #333;
    padding: 6px 10px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

audio {
    padding: 0 10px 0 10px;
}



audio::-webkit-media-controls-enclosure {
    background-color: #89c8ef;
    

}

audio::-webkit-media-controls-play-button  {
    -webkit-appearance: media-play-button;
    background-color: #ffffff;
    margin: 0 0 0 10px;
}

audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    -webkit-appearance: -webkit-media-controls-mute-button;
    color: #121111;
    text-shadow: none;
}

audio::-webkit-media-controls-current-time-display {
    margin-left: 10px;
}

audio::-webkit-media-controls-timeline {
    height: 5px;
    color: #ffffff;
}

audio::-webkit-media-controls-volume-slider {
    appearance: --webkit-media-controls-volume-slider;
    color: #ffffff;
    
}

audio::-webkit-media-controls-mute-button {
    -webkit-appearance: media-mute-button;
    background-color: #ffffff;
    margin-right: 10px;
}

